.id-rule-card {
    border: solid 4px rgb(46, 80, 49);
    border-radius: 3rem;
    background-color: rgb(117, 159, 119);
    padding: 5px;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: rgb(231, 202, 42);
}
h3{
    margin: 0;
}

